.todoListTitle {
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.todoListContainer {
    margin: 0 auto;
    padding: 2em;
    border-radius: 5px;
}

.todoListComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.deleteButton {
    margin-left: 8px;
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;
}